<!DOCTYPE html>
<html>
<head>
	<title>memory game</title>
</head>

<body>
	<style>
		.home{
			font: 70px arial, sans-serif;
			text-align: center;
			color:  #cc33ff;
		}

		a{
			font: 70px arial, sans-serif;
			padding-left: 29%;
			color:  #cc33ff;
		}

		.enter_name{
			font: 20px arial, sans-serif;
			color:  #cc33ff;
		}

	</style>

<div class="home"> 
	<h1>memory game</h1>
</div>

<a href = "/game" class="btn btn-outline-light" >click here to play</a>
<br>

<form class="enter_name" action="/" method="POST">
	<h3>please enter your name</h3>
	<input type="text" name="name" placeholder="your name">
	<input type="submit" value="submit">
</form>

</body>

<!-- <form action = "database.py" method="get">
    <h1> Please enter your name</h1>
    <p>  
        <label>Name:</label><input type = "text"  name = "name" />
        <br/><br/>
    </p>
    <input type = "submit"  id = "submit" value = "submit"/>
</form>
 -->